<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count='2' parallel="methods">
  <test name="Test Parellel">
    <classes>
    <!--  
      <class name="testNGvvsdemo.testNGvvsdemo.NewTest"/>
      -->
      <class name="Paralleltest.Parelleldemo"/>
      
      <!--  
      <class name="AssertionExamples.AssertionDemo"/>
      <class name="Annotations.TestDemo"/>
      <class name="testNGvvsdemo.testNGvvsdemo.Testcases1"/>
      -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
